openapi: 3.1.0
info:
  title: MODERN Partner Dashboards Notes API
  version: v1
  description: Partner API for MODERN (modernis.com), a two-way customer interaction platform for heavy-equipment dealerships. The API lets authorized partners read dashboards, manage service work orders, post events and customer notifications, and maintain technicians and notes on a franchise's behalf. All requests use bearer-token authentication; tokens are obtained by exchanging franchise username/password via HTTP Basic auth against the /token endpoint and are valid for 24 hours, scoped to a single franchise. Every response returns a Modern-Request-Log-ID header used for support.
  contact:
    name: MODERN Support
    url: https://docs.modernis.com/
  x-logo:
    url: https://modernis.com/
servers:
- url: https://connect.modernis.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Notes
  description: Technician / work-order notes
paths:
  /v1/notes:
    get:
      operationId: listNotes
      tags:
      - Notes
      summary: List notes
      parameters:
      - name: work_order_number
        in: query
        required: false
        schema:
          type: string
      - name: work_order_id
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Note'
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createNote
      tags:
      - Notes
      summary: Create note
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                work_order_number:
                  type: string
                work_order_id:
                  type: string
                note_text:
                  type: string
                user_id:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  warning:
                    type: string
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/notes/{id}:
    delete:
      operationId: deleteNote
      tags:
      - Notes
      summary: Delete / redact note
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: deleted
components:
  schemas:
    Note:
      type: object
      properties:
        note:
          type: string
        status:
          type: string
        can_be_deleted:
          type: boolean
        type:
          type: string
        created:
          type: string
          format: date-time
        id:
          type: string
    Error:
      type: object
      description: MODERN error envelope.
      properties:
        error:
          type: string
          example: not_found
        error_msg:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Franchise username/password, used only against /token to obtain a bearer token.
    bearerAuth:
      type: http
      scheme: bearer
      description: 24-hour bearer access token returned by /token; scoped to a single franchise.
x-generated: '2026-07-20'
x-method: derived
x-source: postman/modern-partner-api.postman_collection.json (docs.modernis.com published collection 1530425)
